Source:libdashel
Maintainer: Stephane Magnenat <stephane@nospam.magnenat.net>
Section:devel
Priority:optional
Standards-Version: 3.7.2
Build-Depends: cmake (>= 2.6), libudev-dev, libjs-jquery

Package:libdashel
Architecture: any
Description: DaSHEL is a cross-platform DAta Stream Helper Encapsulation
 Library. It provides a unified access to TCP/IP, serial port, and files
 streams. It also allows a server application to wait for any activity on
 any combination of those streams.
