#!/usr/bin/make -f

build:
	cmake .
	$(MAKE)

clean:
	$(MAKE) clean
	rm -rf debian/files debian/substvars debian/tmp

binary: binary-arch binary-indep

binary-indep:

binary-arch: build
	rm -rf debian/tmp
	install -d debian/tmp/DEBIAN
	install -d debian/tmp/usr/include/dashel
	install -d debian/tmp/usr/lib
	install -d debian/tmp/usr/share/doc/libdashel
	strip --strip-unneeded -R .note -R .comment libdashel.a
	cp changelog debian/tmp/usr/share/doc/libdashel/changelog
	cp debian/changelog debian/tmp/usr/share/doc/libdashel/changelog.debian
	cp debian/copyright debian/tmp/usr/share/doc/libdashel
	cp dashel.h debian/tmp/usr/include/dashel
	cp libdashel.a debian/tmp/usr/lib
	chown -R root.root debian/tmp
	chmod -R o-s,go=u,go-ws debian/tmp
	dpkg-gencontrol
	dpkg --build debian/tmp ..
